@tailwind base;
@tailwind components;
@tailwind utilities;

/* small tweaks to match Instagram mobile look */
html, body, #root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
